{% extends 'state/_state_base.html' %} {% block state_head%}

<title>Chandigarh</title>

{% endblock %} {% block state_name %} Chandigarh {% endblock %} {% block state_map %}
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="4.482"
  height="4.935"
  viewBox="0 0 4.482 4.935"
>
  <path
    id="IN-CH"
    d="M181.4,160.577l-.611.458-1.632-.738-.855-1.78,1.647-1.082.238.612.644-.243-.072.534.841.076h0Z"
    transform="translate(-177.667 -156.678)"
    fill="#de3e3e"
    stroke="#060606"
    stroke-width="1"
  />
</svg>

{% endblock %}
