{% extends 'state/_state_base.html' %} {% block state_head%}

<title>Daman and Diu</title>

{% endblock %} {% block state_name %} Daman and Diu {% endblock %} {% block state_map %}
<svg
      xmlns="http://www.w3.org/2000/svg"
      width="6.522"
      height="9.073"
      viewBox="0 0 6.522 9.073"
    >
      <path
        id="IN-DD"
        d="M52.353,390.643l.126-2.056,1.5-3.726.7.743,1.8-.245.983.646.318,1.518-2,.881,1.9.674-.056.769L57,389.837l0,.775-.538.014,1.048,1.386h0l-.434-.228.08.36-1.233.346-3.564-1.847Z"
        transform="translate(-51.834 -383.952)"
        fill="#de3e3e"
        stroke="#060606"
        stroke-width="1"
      />
    </svg>

{% endblock %}
